@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

/* Default Styles */
* {
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --bg-color: #080808;
  --text-font: "Arimo", sans-serif;
  --body-text-color: #919090;
  --heading-font: "Ubuntu", sans-serif;
  --container-width: 1440px;

  color: var(--text-color);
  background: radial-gradient(circle at 50% 30%, #111 0%, #080808 60%);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8vmax;
}

body {
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/src/assets/noisy.png");
  opacity: 0.05;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
  max-width: 100%;
  text-align: center;
  min-height: 100svh;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 400;
  color: var(--text-color);
}

h1 {
  font-size: 60px;
  letter-spacing: -1.68px;
  margin: 25px 0;

  @media (max-width: 1024px) {
    font-size: 40px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  font-family: var(--text-font);
  color: var(--body-text-color);
  font-weight: 500;
  margin: 0;

  @media (max-width: 1024px) {
    margin: 0 10px;
  }
}

label {
  font-family: var(--text-font);
  font-weight: 500;
}

/* Nav Bar */
header {
  z-index: 40;
  transition: background-color 0.2s linear;
}

header.active {
  border-bottom: 0.15rem solid var(--body-text-color);
  background-color: #0f0f0f;
}

.anchor {
  color: var(--body-text-color);
  transition: color 0.2s linear;
}

.anchor:hover {
  color: #cdc7c7;
}

.main-navbar {
  position: fixed;
  top: 0;
  display: none;
  left: 0;
  right: 0;
  width: 100%;
}

.main-navbar.active {
  top: 58px;
  display: block;
}

.main-navbar > ul {
  text-align: center;
  background: radial-gradient(circle at 50% 30%, #0b0b0b 0%, #121010 60%);
}

.nav-link-item,
.contact-link {
  font-family: var(--text-font);
  color: #919090;
  display: inline;
  padding-left: 1.5rem;
}

.nav-link-item > a.active,
.contact-link > a.active {
  color: #a0ecce;
}

.nav-link-item > a,
.contact-link > a {
  transition: color 0.2s ease-in;
}

.nav-link-item:hover,
.nav-menu:hover,
.contact-link:hover {
  background: #222;
  transition: background-color 0.2s linear;
}

/* Primary and Secondary btn*/
.button-primary,
.button-secondary {
  border: 1px solid #2a2a2a;
  color: white;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

footer,
.button-primary {
  background: #1a1a1a;
}

.button-secondary {
  background: none;
}

.button-primary:hover,
.button-secondary:hover {
  background: #222;
}

/* Section */
.section-heading {
  width: fit-content;
  position: relative;
  padding: 5px;
  padding-left: 10px;
  font-size: 1.7rem;
}

.section-heading::before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background-color: var(--text-color);
  position: absolute;
  top: 0%;
  left: 0;
  border-radius: 0.1rem 0;
  z-index: 2;
}

/* Card */
.card {
  background: linear-gradient(180deg, #121212 0%, #0d0d0d 100%);
  border: 1px solid #1f1f1f;
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease;
}

/* Logo  */
.logo {
  font-family: var(--heading-font);
  position: relative;
  text-decoration: none;
}

.logo::before {
  content: "";
  display: block;
  width: 60%;
  height: 15%;
  background-color: var(--text-color);
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0.1rem 0;
  z-index: 2;
}

/* About me section */
.about-tab.active {
  border: 0.1rem solid rgb(134, 126, 11);
}

@media (min-width: 768px) {
  header {
    max-width: var(--container-width);
  }

  .nav-menu {
    display: none;
  }

  .nav-link-item {
    padding: 0.5rem;
    display: block;
    width: fit-content;
  }

  .contact-link {
    background-color: #a0ecce;
    border-radius: 2rem;
    padding: 7px 30px;
    color: #2a2a2a;
  }

  .contact-link:hover {
    background-color: #7ec6a9;
  }

  .contact-link > a.active {
    color: #2a2a2a;
  }

  .nav-link-item:hover {
    background: none;
    color: var(--text-color);
    transition: color 0.2s ease-in;
  }

  .main-navbar {
    position: static;
    display: block;
    width: fit-content;
  }

  .main-navbar > ul {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    width: fit-content;
    align-items: center;
    background: none;
  }

  .section-heading {
    font-size: 2rem;
  }
}
